<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content">
      <h1>Biblothèque de la mer noire</h1>
      <p>Bienvenue sur notre site</p>
    </div>
  </body>
</html>
